<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>KVC</string>
		<key>viewControllerTitle</key>
		<string>KVC</string>
		<key>storyboardID</key>
		<string>LCDKVCViewController</string>
		<key>storyboardName</key>
		<string>LCDLYCorner</string>
	</dict>
</array>
</plist>
