<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Codable in Swift 4.0</string>
		<key>content</key>
		<string>尝试使用Codable协议直接从网络请求映射到类中</string>
		<key>storyboardID</key>
		<string>LSCodableViewController</string>
		<key>storyboardName</key>
		<string>LSDemo</string>
	</dict>
</array>
</plist>
