<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>第二章：信息的表示和处理</string>
		<key>viewControllerTitle</key>
		<string>第二章：信息的表示和处理</string>
		<key>content</key>
		<string>精通细节是理解更深和更基本概念的先决条件。</string>
		<key>plistName</key>
		<string>LCDComputerSystemChapter2</string>
	</dict>
</array>
</plist>
