<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1. UI可视化编程技巧（xib、storyboard及代码混用）</string>
		<key>viewControllerTitle</key>
		<string>UI可视化编程技巧</string>
		<key>content</key>
		<string>不要认为唯有纯代码才能体现出自己的水平，也不要以为MRC才是你能力的体现；更不要以为自动挡的车都是垃圾，放开你的执念，让xib、storyboard带你提速吧，要相信苹果不会无缘无故的推出一个使你生活变得更糟的东西的^_^！！</string>
		<key>storyboardID</key>
		<string>LCDemo1TableViewController</string>
		<key>storyboardName</key>
		<string>LCDemo</string>
	</dict>
</array>
</plist>
