<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>dispatch apply的学习</string>
		<key>viewControllerTitle</key>
		<string>dispatch_apply</string>
		<key>content</key>
		<string>libdispatch_apply可以讲若干个任务同时分发到多个线程上去执行，威力巨大</string>
		<key>storyboardID</key>
		<string>LCDispatchApplyViewController</string>
		<key>storyboardName</key>
		<string>LCDispatch</string>
	</dict>
</array>
</plist>
