<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的书架</string>
		<key>content</key>
		<string></string>
		<key>storyboardID</key>
		<string>LCBShelfViewController</string>
		<key>storyboardName</key>
		<string>LCBookShelf</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的阅读计划</string>
		<key>content</key>
		<string></string>
		<key>storyboardID</key>
		<string>LCBReadingPlanViewController</string>
		<key>storyboardName</key>
		<string>LCBookShelf</string>
	</dict>
	<dict>
		<key>title</key>
		<string>正在阅读</string>
		<key>content</key>
		<string></string>
		<key>storyboardID</key>
		<string>LCBCurrentReadingViewController</string>
		<key>storyboardName</key>
		<string>LCBookShelf</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的成就</string>
		<key>content</key>
		<string></string>
		<key>storyboardID</key>
		<string>LCBHowNBIamViewController</string>
		<key>storyboardName</key>
		<string>LCBookShelf</string>
	</dict>
</array>
</plist>
