<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1freshAndBright</key>
	<dict>
		<key>petal</key>
		<string>F98866</string>
		<key>poppy</key>
		<string>FF420E</string>
		<key>stem</key>
		<string>80BD9E</string>
		<key>springGreen</key>
		<string>89DA59</string>
	</dict>
	<key>2subduedAndProfessional</key>
	<dict>
		<key>mist</key>
		<string>90AFC5</string>
		<key>stone</key>
		<string>336B87</string>
		<key>shadow</key>
		<string>2A3132</string>
		<key>autumnFoliage</key>
		<string>763626</string>
	</dict>
	<key>3darkAndEarthy</key>
	<dict>
		<key>crevice</key>
		<string>46211A</string>
		<key>cloudShadow</key>
		<string>693D3D</string>
		<key>desert</key>
		<string>BA5536</string>
		<key>redClay</key>
		<string>A43820</string>
	</dict>
	<key>4crispAndDramatic</key>
	<dict>
		<key>thunderCloud</key>
		<string>505160</string>
		<key>waterfall</key>
		<string>68829E</string>
		<key>moss</key>
		<string>AEBD38</string>
		<key>meadow</key>
		<string>598234</string>
	</dict>
	<key>5coolBlue</key>
	<dict>
		<key>deepAqua</key>
		<string>003B46</string>
		<key>oecen</key>
		<string>07575B</string>
		<key>wave</key>
		<string>66A5AD</string>
		<key>seafoam</key>
		<string>C4DFE6</string>
	</dict>
	<key>6outdoorsyAndNature</key>
	<dict>
		<key>forestGreen</key>
		<string>2E4600</string>
		<key>grass</key>
		<string>486B00</string>
		<key>lime</key>
		<string>A2C523</string>
		<key>earth</key>
		<string>7D4427</string>
	</dict>
	<key>7wateryblueAndGreens</key>
	<dict>
		<key>blueblack</key>
		<string>021C1E</string>
		<key>cadetBlue</key>
		<string>004445</string>
		<key>rain</key>
		<string>2C7873</string>
		<key>greenery</key>
		<string>6FB98F</string>
	</dict>
	<key>8PrimaryColorsWithaVibrantTwist</key>
	<dict>
		<key>sky</key>
		<string>375E97</string>
		<key>sunset</key>
		<string>FB6542</string>
		<key>sunflower</key>
		<string>FFBB00</string>
		<key>grass</key>
		<string>3F681C</string>
	</dict>
	<key>9refreshingAndPretty</key>
	<dict>
		<key>petal</key>
		<string>F98866</string>
		<key>poppy</key>
		<string>FF420E</string>
		<key>stem</key>
		<string>80BD9E</string>
		<key>springGreen</key>
		<string>89DA59</string>
	</dict>
	<key>10palyfullGreensAndBlues</key>
	<dict>
		<key>bluePine</key>
		<string>324851</string>
		<key>newGrass</key>
		<string>86AC41</string>
		<key>reflection</key>
		<string>34675C</string>
		<key>mist</key>
		<string>7DA3A1</string>
	</dict>
</dict>
</plist>
