<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>fresh And Bright</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>petal</string>
				<key>rgb</key>
				<string>F98866</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poppy</string>
				<key>rgb</key>
				<string>FF420E</string>
			</dict>
			<dict>
				<key>name</key>
				<string>stem</string>
				<key>rgb</key>
				<string>80BD9E</string>
			</dict>
			<dict>
				<key>name</key>
				<string>springGreen</string>
				<key>rgb</key>
				<string>89DA59</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>subdued And Professional</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>mist</string>
				<key>rgb</key>
				<string>90AFC5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>stone</string>
				<key>rgb</key>
				<string>336B87</string>
			</dict>
			<dict>
				<key>name</key>
				<string>shadow</string>
				<key>rgb</key>
				<string>2A3132</string>
			</dict>
			<dict>
				<key>name</key>
				<string>autumnFoliage</string>
				<key>rgb</key>
				<string>763626</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>dark And Earthy</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>crevice</string>
				<key>rgb</key>
				<string>46211A</string>
			</dict>
			<dict>
				<key>name</key>
				<string>cloudShadow</string>
				<key>rgb</key>
				<string>693D3D</string>
			</dict>
			<dict>
				<key>name</key>
				<string>desert</string>
				<key>rgb</key>
				<string>BA5536</string>
			</dict>
			<dict>
				<key>name</key>
				<string>redClay</string>
				<key>rgb</key>
				<string>A43820</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>crisp And Dramatic</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>thunderCloud</string>
				<key>rgb</key>
				<string>505160</string>
			</dict>
			<dict>
				<key>name</key>
				<string>waterfall</string>
				<key>rgb</key>
				<string>68829E</string>
			</dict>
			<dict>
				<key>name</key>
				<string>moss</string>
				<key>rgb</key>
				<string>AEBD38</string>
			</dict>
			<dict>
				<key>name</key>
				<string>meadow</string>
				<key>rgb</key>
				<string>598234</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>cool Blues</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>deepAqua</string>
				<key>rgb</key>
				<string>003B46</string>
			</dict>
			<dict>
				<key>name</key>
				<string>oecen</string>
				<key>rgb</key>
				<string>07575B</string>
			</dict>
			<dict>
				<key>name</key>
				<string>wave</string>
				<key>rgb</key>
				<string>66A5AD</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seafoam</string>
				<key>rgb</key>
				<string>C4DFE6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>outdoorsy And Nature</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>forestGreen</string>
				<key>rgb</key>
				<string>2E4600</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grass</string>
				<key>rgb</key>
				<string>486B00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>lime</string>
				<key>rgb</key>
				<string>A2C523</string>
			</dict>
			<dict>
				<key>name</key>
				<string>earth</string>
				<key>rgb</key>
				<string>7D4427</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>watery blue-Greens</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>blueblack</string>
				<key>rgb</key>
				<string>021C1E</string>
			</dict>
			<dict>
				<key>name</key>
				<string>cadetBlue</string>
				<key>rgb</key>
				<string>004445</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rain</string>
				<key>rgb</key>
				<string>2C7873</string>
			</dict>
			<dict>
				<key>name</key>
				<string>greenery</string>
				<key>rgb</key>
				<string>6FB98F</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>primary Colors With a Vibrant Twist</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>sky</string>
				<key>rgb</key>
				<string>375E97</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sunset</string>
				<key>rgb</key>
				<string>FB6542</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sunflower</string>
				<key>rgb</key>
				<string>FFBB00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grass</string>
				<key>rgb</key>
				<string>3F681C</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>refreshing And Pretty</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>aquamarine</string>
				<key>rgb</key>
				<string>98DBC6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>turquoise</string>
				<key>rgb</key>
				<string>5BC8AC</string>
			</dict>
			<dict>
				<key>name</key>
				<string>canaryYello</string>
				<key>rgb</key>
				<string>E6D72A</string>
			</dict>
			<dict>
				<key>name</key>
				<string>pinkTulip</string>
				<key>rgb</key>
				<string>F18D9E</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Playful Greens And Blues</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>bluePine</string>
				<key>rgb</key>
				<string>324851</string>
			</dict>
			<dict>
				<key>name</key>
				<string>newGrass</string>
				<key>rgb</key>
				<string>86AC41</string>
			</dict>
			<dict>
				<key>name</key>
				<string>reflection</string>
				<key>rgb</key>
				<string>34675C</string>
			</dict>
			<dict>
				<key>name</key>
				<string>mist</string>
				<key>rgb</key>
				<string>7DA3A1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>fresh and energetic</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>blueSky</string>
				<key>rgb</key>
				<string>4CB5F5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>granite</string>
				<key>rgb</key>
				<string>B7B8B6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>pine</string>
				<key>rgb</key>
				<string>34675C</string>
			</dict>
			<dict>
				<key>name</key>
				<string>fields</string>
				<key>rgb</key>
				<string>B3C100</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>surf and turl</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>sandstone</string>
				<key>rgb</key>
				<string>F4CC70</string>
			</dict>
			<dict>
				<key>name</key>
				<string>burntOrange</string>
				<key>rgb</key>
				<string>DE7A22</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sea</string>
				<key>rgb</key>
				<string>20948B</string>
			</dict>
			<dict>
				<key>name</key>
				<string>lagoon</string>
				<key>rgb</key>
				<string>6AB187</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>autumn in Vermont</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>crimson</string>
				<key>rgb</key>
				<string>8D230F</string>
			</dict>
			<dict>
				<key>name</key>
				<string>forest</string>
				<key>rgb</key>
				<string>1E434C</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rust</string>
				<key>rgb</key>
				<string>9B4F0F</string>
			</dict>
			<dict>
				<key>name</key>
				<string>gold</string>
				<key>rgb</key>
				<string>C99E10</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>cry blues and grays</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>overcast</string>
				<key>rgb</key>
				<string>F1F1F2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>warmGray</string>
				<key>rgb</key>
				<string>BCBABE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ice</string>
				<key>rgb</key>
				<string>A1D6E2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>glacierBlue</string>
				<key>rgb</key>
				<string>1995AD</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>birds and berries</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>lavendarGray</string>
				<key>rgb</key>
				<string>9A9EAB</string>
			</dict>
			<dict>
				<key>name</key>
				<string>branch</string>
				<key>rgb</key>
				<string>5D535E</string>
			</dict>
			<dict>
				<key>name</key>
				<string>berry</string>
				<key>rgb</key>
				<string>EC96A4</string>
			</dict>
			<dict>
				<key>name</key>
				<string>yellowFeathers</string>
				<key>rgb</key>
				<string>DFE166</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>day and night</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>darkNavy</string>
				<key>rgb</key>
				<string>011A27</string>
			</dict>
			<dict>
				<key>name</key>
				<string>blueberry</string>
				<key>rgb</key>
				<string>063852</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tangerine</string>
				<key>rgb</key>
				<string>F0810F</string>
			</dict>
			<dict>
				<key>name</key>
				<string>daffodil</string>
				<key>rgb</key>
				<string>E6DF44</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>stylish and retro</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>sky</string>
				<key>rgb</key>
				<string>75B1A9</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sunglow</string>
				<key>rgb</key>
				<string>D9B44A</string>
			</dict>
			<dict>
				<key>name</key>
				<string>mountains</string>
				<key>rgb</key>
				<string>4F6457</string>
			</dict>
			<dict>
				<key>name</key>
				<string>mist</string>
				<key>rgb</key>
				<string>ACD0C0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>shades of citrus</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>orange</string>
				<key>rgb</key>
				<string>EB8A44</string>
			</dict>
			<dict>
				<key>name</key>
				<string>yellow</string>
				<key>rgb</key>
				<string>F9DC24</string>
			</dict>
			<dict>
				<key>name</key>
				<string>oliveGreen</string>
				<key>rgb</key>
				<string>4B7447</string>
			</dict>
			<dict>
				<key>name</key>
				<string>lime</string>
				<key>rgb</key>
				<string>8EBA43</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>sunset to dusk</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>deepPurple</string>
				<key>rgb</key>
				<string>363237</string>
			</dict>
			<dict>
				<key>name</key>
				<string>indigo</string>
				<key>rgb</key>
				<string>2D4262</string>
			</dict>
			<dict>
				<key>name</key>
				<string>taupe</string>
				<key>rgb</key>
				<string>73605B</string>
			</dict>
			<dict>
				<key>name</key>
				<string>blush</string>
				<key>rgb</key>
				<string>D09683</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bright and tropical</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>hotPink</string>
				<key>rgb</key>
				<string>F52549</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bubblegum</string>
				<key>rgb</key>
				<string>FA6775</string>
			</dict>
			<dict>
				<key>name</key>
				<string>pollen</string>
				<key>rgb</key>
				<string>FFD64D</string>
			</dict>
			<dict>
				<key>name</key>
				<string>chartreuse</string>
				<key>rgb</key>
				<string>9BC01C</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
