<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>穷尽所有RGB颜色</string>
		<key>viewControllerTitle</key>
		<string>穷尽所有RGB颜色</string>
		<key>storyboardName</key>
		<string>LCColor</string>
		<key>storyboardID</key>
		<string>LCColorViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>300种取自大自然的美色</string>
		<key>viewControllerTitle</key>
		<string>300种取自大自然的美色</string>
		<key>storyboardName</key>
		<string>LCColor</string>
		<key>storyboardID</key>
		<string>LCC100BeautifulColorViewController</string>
	</dict>
</array>
</plist>
