<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>freshAndBright</string>
		<key>namedColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>petal</string>
				<key>rgb</key>
				<string>F98866</string>
			</dict>
            <dict>
                <key>name</key>
                <string>poppy</string>
                <key>rgb</key>
                <string>FF420E</string>
            </dict>
            <dict>
                <key>name</key>
                <string>stem</string>
                <key>rgb</key>
                <string>80BD9E</string>
            </dict>
            <dict>
                <key>name</key>
                <string>springGreen</string>
                <key>rgb</key>
                <string>89DA59</string>
            </dict>
		</array>
	</dict>
    <dict>
        <key>name</key>
        <string>subduedAndProfessional</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>mist</string>
                <key>rgb</key>
                <string>90AFC5</string>
            </dict>
            <dict>
                <key>name</key>
                <string>stone</string>
                <key>rgb</key>
                <string>336B87</string>
            </dict>
            <dict>
                <key>name</key>
                <string>shadow</string>
                <key>rgb</key>
                <string>2A3132</string>
            </dict>
            <dict>
                <key>name</key>
                <string>autumnFoliage</string>
                <key>rgb</key>
                <string>763626</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>darkAndEarthy</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>crevice</string>
                <key>rgb</key>
                <string>46211A</string>
            </dict>
            <dict>
                <key>name</key>
                <string>cloudShadow</string>
                <key>rgb</key>
                <string>693D3D</string>
            </dict>
            <dict>
                <key>name</key>
                <string>desert</string>
                <key>rgb</key>
                <string>BA5536</string>
            </dict>
            <dict>
                <key>name</key>
                <string>redClay</string>
                <key>rgb</key>
                <string>A43820</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>crispAndDramatic</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>thunderCloud</string>
                <key>rgb</key>
                <string>505160</string>
            </dict>
            <dict>
                <key>name</key>
                <string>waterfall</string>
                <key>rgb</key>
                <string>68829E</string>
            </dict>
            <dict>
                <key>name</key>
                <string>stem</string>
                <key>rgb</key>
                <string>AEBD38</string>
            </dict>
            <dict>
                <key>name</key>
                <string>meadow</string>
                <key>rgb</key>
                <string>598234</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>coolBlue</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>deepAqua</string>
                <key>rgb</key>
                <string>003B46</string>
            </dict>
            <dict>
                <key>name</key>
                <string>oecen</string>
                <key>rgb</key>
                <string>07575B</string>
            </dict>
            <dict>
                <key>name</key>
                <string>wave</string>
                <key>rgb</key>
                <string>66A5AD</string>
            </dict>
            <dict>
                <key>name</key>
                <string>seafoam</string>
                <key>rgb</key>
                <string>C4DFE6</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>outdoorsyAndNature</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>forestGreen</string>
                <key>rgb</key>
                <string>2E4600</string>
            </dict>
            <dict>
                <key>name</key>
                <string>grass</string>
                <key>rgb</key>
                <string>486B00</string>
            </dict>
            <dict>
                <key>name</key>
                <string>lime</string>
                <key>rgb</key>
                <string>A2C523</string>
            </dict>
            <dict>
                <key>name</key>
                <string>earth</string>
                <key>rgb</key>
                <string>7D4427</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>wateryblueAndGreens</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>blueblack</string>
                <key>rgb</key>
                <string>021C1E</string>
            </dict>
            <dict>
                <key>name</key>
                <string>cadetBlue</string>
                <key>rgb</key>
                <string>004445</string>
            </dict>
            <dict>
                <key>name</key>
                <string>rain</string>
                <key>rgb</key>
                <string>2C7873</string>
            </dict>
            <dict>
                <key>name</key>
                <string>greenery</string>
                <key>rgb</key>
                <string>6FB98F</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>primaryColorsWithaVibrantTwist</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>sky</string>
                <key>rgb</key>
                <string>375E97</string>
            </dict>
            <dict>
                <key>name</key>
                <string>sunset</string>
                <key>rgb</key>
                <string>FB6542</string>
            </dict>
            <dict>
                <key>name</key>
                <string>sunflower</string>
                <key>rgb</key>
                <string>FFBB00</string>
            </dict>
            <dict>
                <key>name</key>
                <string>grass</string>
                <key>rgb</key>
                <string>3F681C</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>freshAndBright</string>
        <key>namedColors</key>
        <array>
            <dict>
                <key>name</key>
                <string>petal</string>
                <key>rgb</key>
                <string>F98866</string>
            </dict>
            <dict>
                <key>name</key>
                <string>poppy</string>
                <key>rgb</key>
                <string>FF420E</string>
            </dict>
            <dict>
                <key>name</key>
                <string>stem</string>
                <key>rgb</key>
                <string>80BD9E</string>
            </dict>
            <dict>
                <key>name</key>
                <string>springGreen</string>
                <key>rgb</key>
                <string>89DA59</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
