<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>lihux.me技术博客</string>
		<key>storyboardID</key>
		<string>LCLihuxMeViewController</string>
		<key>storyboardName</key>
		<string>LCDocument</string>
	</dict>
	<dict>
		<key>title</key>
		<string>lihux github</string>
		<key>storyboardID</key>
		<string>LCDGithubViewController</string>
		<key>storyboardName</key>
		<string>LCDocument</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大学的成熟</string>
		<key>storyboardID</key>
		<string></string>
		<key>storyboardName</key>
		<string>LCDocument</string>
	</dict>
	<dict>
		<key>title</key>
		<string>工作之后</string>
		<key>storyboardID</key>
		<string></string>
		<key>storyboardName</key>
		<string>LCDocument</string>
	</dict>
	<dict>
		<key>title</key>
		<string>技术篇</string>
		<key>storyboardID</key>
		<string></string>
		<key>storyboardName</key>
		<string>LCDocument</string>
	</dict>
</array>
</plist>
