<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>设置默认打开页面</string>
		<key>content</key>
		<string>让用户越来越懒</string>
		<key>storyboardID</key>
		<string>LCSDefaultOpenPageSettingViewController</string>
		<key>storyboardName</key>
		<string>LCSetting</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清除缓存</string>
		<key>content</key>
		<string>第三方输入法带来了新的麻烦</string>
		<key>storyboardID</key>
		<string></string>
		<key>storyboardName</key>
		<string>LCSetting</string>
	</dict>
	<dict>
		<key>title</key>
		<string>设置APP主题色调</string>
		<key>content</key>
		<string>从100中颜色组合的400种颜色中选取你喜欢的颜色作为整个APP的背景色</string>
		<key>storyboardID</key>
		<string>LCC100BeautifulColorViewController</string>
		<key>storyboardName</key>
		<string>LCColor</string>
	</dict>
</array>
</plist>
