<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1. 初中的幼稚</string>
		<key>storyboardID</key>
		<string>LCDocument1ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2.高中的懵懂</string>
		<key>storyboardID</key>
		<string>LCDocument2ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3. 大学的成熟</string>
		<key>storyboardID</key>
		<string>LCDocument3ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4. 工作之后</string>
		<key>storyboardID</key>
		<string>LCDocument4ViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5. 技术篇</string>
		<key>storyboardID</key>
		<string>LCDocument5ViewController</string>
	</dict>
</array>
</plist>
